<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
	</Appenders>
	<Loggers>
		<Root level="trace">
			<AppenderRef ref="Console" />
		</Root>
		<Logger name="de.isibboi.agentsim.game.map.GameMap" level="info">
		</Logger>
		<Logger name="de.isibboi.agentsim.ui.event.MouseEventTranslator"
			level="info"></Logger>
		<Logger name="de.isibboi.agentsim.ui.component.UIButton" level="info"></Logger>
		<Logger name="de.isibboi.agentsim.game.entities.Entities"
			level="info"></Logger>
		<Logger name="de.isibboi.agentsim.game.entities.Goblin" level="info"></Logger>
		<Logger name="de.isibboi.agentsim.game.entities.ai.tasks.MiningTask"
			level="info"></Logger>
		<Logger name="de.isibboi.agentsim.algorithm.LockManager" level="info"></Logger>
		<Logger name="de.isibboi.agentsim.game.entities.ai.GoblinSwarmAI"
			level="info"></Logger>
		<Logger name="de.isibboi.agentsim.game.entities.ai.TaskExecutingAI"
			level="info"></Logger>
		<Logger name="de.isibboi.agentsim.game.entities.ai.intends.MiningIntend"
			level="info"></Logger>
		<Logger name="de.isibboi.agentsim.game.entities.ai.tasks.ZeroTimeTask"
			level="info"></Logger>
		<Logger name="de.isibboi.agentsim.ui.drawers.TaskDrawingVisitor"
			level="info"></Logger>
	</Loggers>
</Configuration>